@page
@model MyScriptureJournal.Pages_Scripture.IndexModel

@{
    ViewData["Title"] = "Scriptures";
}
<div class="container">
    <div class="row">
        <div class="col-lg-6">

            <h1>Scriptures</h1>
      
       
       
            <form class="border p-2 my-5">
                <label for="book-search">Books: </label>
                <select id="book-search" class="form-control" asp-for="ScriptureBook" asp-items="Model.Books">
                    <option value="">All</option>
                </select>
                <label for="search" >Keywords: </label>
                <input placeholder="Enter keywords from Notes" class="form-control" id="search" type="text" asp-for="SearchString" />
                <input class="btn btn-primary my-3" type="submit" value="Filter" />
            </form>

            <div class="p-2">
                <a class="btn btn-primary " asp-page="Create">Create New</a>
                
            </div>
        
        </div>
    </div>
</div>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].Chapter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].Verses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Scripture) {
        <tr>
            <td  >
                @Html.DisplayFor(modelItem => item.Book)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chapter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@item.ScriptureId">Edit</a> 
                <a class="btn btn-primary"asp-page="./Details" asp-route-id="@item.ScriptureId">Details</a> 
                <a class="btn btn-danger"asp-page="./Delete" asp-route-id="@item.ScriptureId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
